/AppCRM/AppCRM.Android/obj/Debug/android/bin/classes/android/support/compat
/AppCRM/AppCRM.Android/obj/Debug/android/assets
/AppCRM/AppCRM.Android/obj/Debug/android/bin/classes/android/support/v4
/AppCRM/AppCRM.Android/obj/Debug/android/bin/classes/android/support/design/widget
/AppCRM/AppCRM.Android/obj/Debug
/AppCRM/AppCRM.Android/bin/Debug
/AppCRM/AppCRM.UWP/bin/x86/Debug
/AppCRM/AppCRM.UWP/obj/x86/Debug/Autofac/en-US
/AppCRM/AppCRM.UWP/obj/x86/Debug/*.resw
/AppCRM/AppCRM.UWP/obj/x86/Debug
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug/th
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug/pt-BR
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug/cs
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug/zh-Hans
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug/he
/AppCRM/AppCRM.iOS/bin/iPhoneSimulator/Debug
/AppCRM/AppCRM.iOS/obj/iPhoneSimulator/Debug
/AppCRM/AppCRM.iOS/obj/iPhone/Debug
/AppCRM/AppCRM/obj/Debug/netstandard2.0
/AppCRM/AppCRM/obj
/AppCRM/AppCRM/bin/Debug/netstandard2.0
/AppCRM/AppCRM.iOS/obj
/AppCRM/AppCRM.UWP/obj/*.targets
/AppCRM/AppCRM.Android/obj/*.cache
/AppCRM/AppCRM.UWP/obj
/AppCRM/AppCRM.Android/obj
